.contact .jumbotron {
    height: 100vh;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background-color: #ffffff;
}

.contact .title {
    font-size: 40px;
    font-weight: 700;
    color: #C5196B;
    letter-spacing: 1px;
}

.contact .form-control {
    border: none;
    background-color: #ecedee;
    border-radius: 15px;
}

.contact .submit {
    width: 100%;
    border: none;
    background-color: #C5196B;
    border-radius: 15px;
    color: #ffffff;
}

.contact .hub {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .hub p {
    margin-left: 10px;
    margin-right: 10px;
    color: #555555;
    margin-bottom: 0;
    padding: 0;
}

@media screen and (max-width : 700px) {
    .contact .jumbotron {
        height: auto;
        padding-bottom: 50px;
    }

    .contact .hub {
        display: block;
    }

    .contact .title {
        font-size: 25px;
    }

    .contact .hub p {
        font-size: 12px;
    }

    .contact img {
        width: 70%;
    }

    .contact .form-control {
        margin: 0 auto;
        width: 90%;
        border-radius: 10px;
        font-size: 15px;
    }

    .contact .submit {
        width: 90%;
        border-radius: 10px;
        font-size: 15px;
    }
}